body {background-color: #000000 }
h1 {font-family: Chalkduster; color: #F4740B; text-align: center; }
p { font-family: Courier New; color: #FF0000 }
a:link {color: #85F9F0;}
a:hover {color: white}
img {margin-left: 330px}